{% extends "base.html.twig" %}

{% block body %}
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
            <a class="navbar-brand" href="#">Hidden brand</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
                {{ form_start(form) }}                
                {{ form_end(form) }}
            </div>
        </div>
    </nav>

    {% if products is defined %}
        <h2>Résultat de la recherche</h2>
	<ul>
		{% for product in products %}
			<li>
                <h3>{{product.name}}</h3>
				<img style ="width: 20%;" src="{{ asset('images/' ~ product.image ) }}" alt="{{product.image}}">
				<div>
					<p>Le prix est de : {{product.price|format_currency('EUR', locale='fr')}}</p>
					<a href="{{ url('product.detail',{'slug': product.slug}) }}">En savoir plus</a>
				</div>
			</li>
		{% endfor %}
	</ul> 
    {% endif %}
    
{% endblock %}