{% extends 'base.html.twig' %}

{% block title %}
	Accueil Product
{% endblock %}

{% block body %}

	<h2>Tous les produits</h2>
	<ul>
		{% for product in products %}
			<li>
                <h3>{{product.nom}}</h3>
				<img style ="width: 20%;" src="{{product.image}}" alt="{{product.image}}">
				<div>
					<p>Le prix est de : {{product.prix|format_currency('EUR', locale='fr')}}</p>
					<a href="{{ url('product.detail',{'product':product.nom}) }}">En savoir plus</a>
				</div>
			</li>
		{% endfor %}
	</ul>
{% endblock %}